<header> BEHIND THE SCENES 
</header>
<ul class="nav">
<li> <%= link_to 'New order', new_order_path %></li>
</ul>
<h1>Listing orders</h1>
<table>
  <tr>
    <th>Name </th>
    <th>Order </th>
  </tr>
 
  <% @orders.each do |order| %>
    <tr>
      <td><%= order.name %></td>
      <td><%= order.request %></td>
      <td><%= link_to 'Receipt', order_path(order)%></td>
      <td><%= link_to 'Edit Order', edit_order_path(order)  %></td>
      <td><%= link_to 'Delete',
                                  order_path(order), 
                                  method: :delete,
                                  data: { confirm: 'Are you sure?' }, class:"a" %></td>
    </tr>
  <% end %>
  
</table>
<footer>
	

</footer>