<h1>Listing orders</h1>
 <%= link_to 'New order', new_order_path %>
<table>
  <tr>
    <th>Name</th>
    <th>Order</th>
  </tr>
 
  <% @orders.each do |order| %>
    <tr>
      <td><%= order.name %></td>
      <td><%= order.request %></td>
      <td><%= link_to 'Show', order_path(order) %></td>
      <td><%= link_to 'Edit', edit_order_path(order) %></td>
    </tr>
  <% end %>
</table>
